<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ArchiveIdentifier</key>
	<string>E62CD943-DFC7-4F04-8512-179C29153ED1</string>
	<key>EndTimeRef</key>
	<dict>
		<key>ContinuousTime</key>
		<integer>103871203488741</integer>
		<key>UUID</key>
		<string>A990DB2B-45C3-4B31-A74F-73253E0449D4</string>
	</dict>
	<key>HighVolumeMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>17474410789470</integer>
			<key>UUID</key>
			<string>A990DB2B-45C3-4B31-A74F-73253E0449D4</string>
		</dict>
	</dict>
	<key>HighVolumeSizeLimit</key>
	<integer>18446744073709551615</integer>
	<key>LiveMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>103837301138028</integer>
			<key>UUID</key>
			<string>A990DB2B-45C3-4B31-A74F-73253E0449D4</string>
		</dict>
	</dict>
	<key>OSArchiveVersion</key>
	<integer>4</integer>
	<key>OSLoggingSupportProject</key>
	<string>libtrace-1147.40.13</string>
	<key>OSLoggingSupportVersion</key>
	<real>1147.4000000000001</real>
	<key>PersistMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>17474410789470</integer>
			<key>UUID</key>
			<string>A990DB2B-45C3-4B31-A74F-73253E0449D4</string>
		</dict>
	</dict>
	<key>PersistSizeLimit</key>
	<integer>18446744073709551615</integer>
	<key>SignpostMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>17474410789470</integer>
			<key>UUID</key>
			<string>A990DB2B-45C3-4B31-A74F-73253E0449D4</string>
		</dict>
	</dict>
	<key>SignpostSizeLimit</key>
	<integer>18446744073709551615</integer>
	<key>SourceIdentifier</key>
	<string>8CCCB771-2870-4309-AC6F-C22860A42839</string>
	<key>SpecialMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>17474410789470</integer>
			<key>UUID</key>
			<string>A990DB2B-45C3-4B31-A74F-73253E0449D4</string>
		</dict>
		<key>TTL</key>
		<dict>
			<key>ttl01</key>
			<dict>
				<key>ContinuousTime</key>
				<integer>407219032284355</integer>
				<key>UUID</key>
				<string>7C873240-46E4-4669-B7E8-44C8FABD5872</string>
			</dict>
			<key>ttl03</key>
			<dict>
				<key>ContinuousTime</key>
				<integer>234428522597051</integer>
				<key>UUID</key>
				<string>7C873240-46E4-4669-B7E8-44C8FABD5872</string>
			</dict>
			<key>ttl07</key>
			<dict>
				<key>ContinuousTime</key>
				<integer>772251408937819</integer>
				<key>UUID</key>
				<string>D3461340-8ACA-4978-8760-D44A0FC07B09</string>
			</dict>
			<key>ttl14</key>
			<dict>
				<key>ContinuousTime</key>
				<integer>167487215413372</integer>
				<key>UUID</key>
				<string>D3461340-8ACA-4978-8760-D44A0FC07B09</string>
			</dict>
			<key>ttl30</key>
			<dict>
				<key>ContinuousTime</key>
				<integer>1113384327564200</integer>
				<key>UUID</key>
				<string>E2495EC2-0B1E-4500-9E66-585533AAE180</string>
			</dict>
		</dict>
	</dict>
	<key>SpecialSizeLimit</key>
	<integer>18446744073709551615</integer>
</dict>
</plist>
