You have been given access to the following study:
\
= @share.study.name
\
Login to Enroll using the email address #{@share.user.email} to review the study.
\
If you are not the intended recipient of this message, you can safely disregard this email.