The following study has just been updated by #{@updater.full_name}:
\
= @study.name
\
If the update warrants your immediate attention, you will find the relevant information on the study bulletin board.
\
If you are not the intended recipient of this message, you can safely disregard this email.