The following study has just been updated by #{@updater.full_name}:
\
= @study.name
\
You may want to review the study details and criteria before continuing to enroll patients.
\
If you are not the intended recipient of this message, you can safely disregard this email.