#{@member.creator.full_name} has given you access to the following study:

= @member.study.name

Login to Enroll or create an account using the email address #{mail_to @member.email, @member.email} to review the study.

If you are not the intended recipient of this message, you can safely disregard this email.