- content_for :title, 'Studies'

%h1 Paid Studies

= render 'table', studies: @studies.select(&:published?)

%br

%h1 Unpaid Studies

= render 'table', studies: @studies.reject(&:published?)

= link_to 'New Study', new_study_path, class: 'success button'