#{@appointment.creator.full_name} has given you access to the following study:
\
= @appointment.study.name
\
Login to Enroll or create an account using the email address #{@appointment.member.email} to review the study.
\
If you are not the intended recipient of this message, you can safely disregard this email.